.footer
	border: 5px solid $accent
	font-size: 17px
	display: flex
	justify-content: space-between
	h3
		color: $accent
	ul
		padding: 0
		list-style-type: none
	a
		color: $text
		font-size: 17px
		font-weight: 300
	&__col
		padding: 16px 10px
		width: 16.99%
		p
			margin-bottom: 10px
			line-height: 1.4
		&.map
			width: 49%
			background-color: #ccc
			padding: 0