.header
	background-color: $accent
	display: flex
	align-items: center
	justify-content: space-between
	position: relative
	&__logo
		height: 100px
		flex: 0 0 260px
		+media-breakpoint-down(md)
			flex: 0 0 auto
		+media-breakpoint-down(sm)
			height: 72px
		+media-breakpoint-down(xs)
			max-width: 220px
		a
			display: block
			background-color: $white
			height: 100%
			display: flex
			align-items: center
	&__menu
		flex: 1
		+media-breakpoint-down(sm)
			position: fixed
			right: -100%
			top: 0
			width: 100%
			background-color: $dark-red
			transition: all .25s
			display: none
			opacity: 0
			z-index: 10
		&.active
			right: 0
			display: block
			opacity: 1
		ul
			padding: 0
			margin: 0
			display: flex
			list-style-type: none
			justify-content: space-between
			+media-breakpoint-down(sm)
				flex-direction: column
				align-items: center
				justify-content: center
				height: 100vh
			li
				position: relative
				+media-breakpoint-down(sm)
					width: 100%
				&.active
					a
						text-decoration: none
						color: $white
						background-color: darken($accent, 5%)
				a
					text-transform: uppercase
					font-weight: bold
					text-align: center
					display: block
					height: 100px
					padding: 0 20px
					line-height: 100px
					position: relative
					z-index: 1
					white-space: nowrap
					+media-breakpoint-down(lg)
						font-size: 16px
					+media-breakpoint-down(md)
						font-weight: 300
						font-size: 14px
						padding: 0 10px
					+media-breakpoint-down(sm)
						height: 50px
						line-height: 50px
						width: 100%
						padding: 0
						font-size: 16px
					&:hover
						text-decoration: none
						color: $white
						background-color: darken($accent, 5%)

.mobile-btn, .callback-btn
	display: none
	width: 50px
	height: 50px
	background-color: transparent
	border: none
	cursor: pointer
	+media-breakpoint-down(sm)
		display: block

.mobile-btn
	position: relative
	z-index: 10
	span
		width: 25px
		height: 1px
		background-color: #fff
		display: block
		margin: 6px auto
		transform: rotate(0)
		opacity: 1
		transition: all .2s

	&.active span
		&:first-child
			transform: rotate(45deg)
			position: relative
			top: 7px
		&:nth-child(2)
			opacity: 0
		&:last-child
			transform: rotate(-45deg)
			position: relative
			top: -7px

.callback-btn
	position: absolute
	right: 45px
	img
		width: 24px
		height: 100%
		margin: 0 auto