.page
	&__title
		&.product-cat
			background-color: $red
			+media-breakpoint-down(sm)
				background-size: 50%	
		background-color: $dark-red
		padding: 22px 35px
		color: $white
		background-repeat: no-repeat
		background-position: right 35px center
		+media-breakpoint-down(sm)
			padding: 15px 20px
			background-size: 100px
			background-position: right 20px center			
		h1
			margin: 0
			+media-breakpoint-down(xs)
				font-size: 20px
			a
				color: #fff
	&__content
		padding: 30px 35px
		color: $black
		font-size: 18px
		font-weight: 400
		display: flex
		&.product__content
			display: block
			h2
				text-align: center
				+media-breakpoint-down(sm)
					font-size: 18px
		+media-breakpoint-down(md)
			flex-direction: column-reverse
		+media-breakpoint-down(sm)
			padding: 20px
		&--text
			width: 100%
		&--img
			flex: 0 0 450px
			margin-left: 50px
			+media-breakpoint-down(md)
				flex: 0 0 auto
				margin-left: 0
				margin-bottom: 30px
		h2
			color: $red
			font-size: 25px
			font-weight: 400
			text-transform: uppercase
